@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.debajo-icono {
    display: block;
    text-align: center;
}

body {
    font-family: "Arial", Arial, sans-serif;
    line-height: 1.6;
    color: grey; 
background-image: radial-gradient(red, black, blueviolet);

}

header {
    background-color: whitesmoke;
    padding: 20px;
    border-bottom: 10px solid whitesmoke;
    font-family: "Arial";
}

h1 {
    color: blueviolet;
    top: px;
    left: 100px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: blueviolet;
    transition: all 0.3s ease 0s;
}

main {
    width: 70%;
    margin: 40px auto;
    background-color: #000; 
    padding: 10px;
}

article {
    margin-bottom: 40px;
}

article h2 {
    font-size: 25px;
    color: black; 
    margin-bottom: 10px;
}

article time {
    font-size: 15px;
    color: grey; 
}

article p {
    margin-top: 10px;
}

article a {
    display: inline-block;
    text-decoration: none;
    color: #fff; 
    background-color: #6f42c1; 
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 10px;
}

article a:hover {
    background-color: black; 
    transform: scale(120%);
    color: white;
}


.box:hover .material-symbols-outlined {
    color: #2afd00;
    transform: scale(120%); 
}

.box:hover .debajo-icono {
    color: red; 
}


.cajita {
    background-color: whitesmoke; 
    padding: 20px;
    margin-bottom: 20px; 
}
.cajita:hover {
  background-color:violet;
  color:white;
}


.fecha-conjunto {
    color: black;
  text-align: right;
    margin-bottom: 20px;
}